@import "./scss/reset";
@import "./scss/_google-fonts";

// colors
$infrared-gloze: #d03958;
$light-yellow: #e3d5b8;
$white: white;
$eerie-black: #1b1b1b;
$pot-black: #161616;
$brainstem-grey: #b5b5b5;
// inheritance

.content-centering {
  max-width: 1048px;
  margin: 0 auto;
  padding: 0 10px;
}

.txt-uppercase {
  text-transform: uppercase;
}

.linear-gradient_yellow {
  background: linear-gradient(180deg, $light-yellow 89%, transparent 1%);
}

.txt-color-infrared {
  color: $infrared-gloze;
}

.logo {
  color: $infrared-gloze;
}

.txt-pt-serif {
  font-family: PT Serif;
  font-size: 20px;
  line-height: 26px;
}

.txt-color--infrared {
  color: $infrared-gloze;
}

input::-webkit-inner-spin-button {
  display: none;
}

/*Header*/
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  &_margin {
    margin-bottom: 109px;
  }
  &__logo {
    padding: 26px 14px;
    font-size: 88px;
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.item {
  &__link {
    font-family: Montserrat;
    color: $eerie-black;
    transition: 0.2s;
    &_hover:hover {
      background-color: $infrared-gloze;
      border-radius: 6px;
      color: $white;
    }
  }
  &__header {
    margin: 10px;
  }
}

.header__link {
  margin: 15px 0;
  padding: 8px 14px;
  font-size: 18px;
}

/*Header*/

/*cection header content*/
.travel {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.travel__content {
  margin-bottom: 127px;
  max-width: 544px;
  margin: 15px;
}
.travel__h1 {
  margin: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  &__h1 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 90px;
    line-height: 110px;
  }
  &__txt {
    color: $pot-black;
    max-width: 491px;
  }
}
.travel__paragraph {
  margin: 10px;
}

.request-form {
  border-radius: 10px;
  margin: 15px 28px 15px 15px;
  background-color: $infrared-gloze;
  display: flex;
  flex-direction: column;
  &__h3 {
    font-family: Montserrat;
    color: $white;
    text-align: center;
    margin: 27px 0 19px;
    font-size: 22px;
    line-height: 27px;
  }
  &__input {
    border-radius: 5px;
    min-width: 353px;
    min-height: 57px;
    border: none;
    margin: 16px 24px;
    padding-left: 16px;
    &::placeholder {
      font-family: PT Serif;
      color: $brainstem-grey;
      font-size: 20px;
      line-height: 26px;
    }
  }
  &__checkbox {
    margin: 5px 0 17px 25px;
  }
  &__button {
    color: $white;
    background-color: $pot-black;
    min-width: 353px;
    min-height: 57px;
    margin: 0 24px 15px;
  }
}
.button {
  font-family: Montserrat;
  border-radius: 5px;
  font-size: 22px;
  line-height: 27px;
  border: none;
}

/* checkbox */
.checkbox.style-c {
  display: inline-block;
  position: relative;
  padding-left: 23px;
  cursor: pointer;
}
.checkbox.style-c input {
  position: absolute;
  opacity: 0;
}

.checkbox.style-c input:checked ~ .checkbox__checkmark {
  background-color: rgb(64, 64, 180);
}
.checkbox.style-c input:checked ~ .checkbox__checkmark:after {
  opacity: 1;
}
.checkbox.style-c .checkbox__checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  transition: background-color 0.25s ease;
  border-radius: 4px;
}
.checkbox.style-c .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 8px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid $white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease;
}
.checkbox.style-c .checkbox__body {
  font-family: PT Serif;
  margin-left: 22px;
  font-size: 20px;
  line-height: 26px;
  color: $white;
}

@media (max-width: 1014px) {
  .travel {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 564px) {
  .travel__h1 {
    font-size: 75px;
  }
}

/*cection header content*/

/* section our serviced */
.our-services {
  margin-bottom: 62px;
  position: relative;
  margin-top: 67px;
  &__h4 {
    font-family: Roboto;
    font-size: 50px;
    line-height: 59px;
    position: absolute;
    top: -136px;
    padding: 10px;
  }
}
.our-services__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
}

.our-services__column {
  justify-content: flex-end;
  max-width: 176px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px 10px;
}
.our-services__img {
  margin-bottom: 45px;
}
.our-services__paragraph {
  text-align: center;
  color: $pot-black;
}

/* section our serviced*/
@media (max-width: 1014px) {
  .our-services__h4 {
    top: -125px;
  }
  .our-services {
    margin-top: 150px;
    display: flex;
    justify-content: center;
  }
}
/* section second */
.our-story {
  background-color: $infrared-gloze;
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &__paragraph {
    color: $white;
    max-width: 629px;
  }
  &__button {
    background-color: $light-yellow;
    color: $pot-black;
    padding: 18px 70px;
    margin: 30px 15px;
    &_hover:hover {
      background-color: #bdb29c;
      border-radius: 6px;
      color: $white;
    }
  }
}

/* section pricing */
.header__txt {
  color: $eerie-black;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
}

.pricing__flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pricing {
  background-color: $light-yellow;
  &__header {
    padding: 50px;
    text-align: center;
  }
  &__card {
    min-width: 318px;
    border-radius: 5px 5px 0 0;
    margin: 18px 11px 0;
    // position: relative;
  }
  &__h3 {
    margin-bottom: 14px;
  }
  &__h5 {
    margin-bottom: 16px;
    margin-top: 30px;
  }
  &__paragraph {
    max-width: 162px;
    margin-bottom: 34px;
    max-width: 175px;
  }
  &__button {
    padding: 11px 81px;
    &_hover:hover {
      background-color: $infrared-gloze;
      border-radius: 6px;
      color: $white;
    }
  }
}

.card {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  &__h3 {
    color: $infrared-gloze;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
  }
  &__h5 {
    color: $pot-black;
    font-family: PT Serif;
    font-size: 22px;
  }
  &__paragraph {
    text-align: center;
    color: $pot-black;
    font-family: PT Serif;
    font-size: 20px;
    line-height: 26px;
  }
  &__button {
    color: $pot-black;
    background-color: $light-yellow;
  }
}

.pricing__box {
  border-bottom: 70px solid #af9f7f;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  left: -42%;
  position: relative;
  top: -2.3%;
  -webkit-transform: rotate(-45deg);
}

.pricing__span {
  color: $eerie-black;
  font-size: 16px;
  font-family: PT Serif;
  position: absolute;
  line-height: 21px;
  right: -26px;
  top: 36px;
}

/* section fourth */

.feedback__testimonial {
  max-width: 500px;
  margin-right: 70px;
}

.feedback {
  padding-top: 127px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 120px;
  &__wrapper {
    max-width: 431px;
    position: relative;
    margin: 20px 0 30px;
    &_bg {
      background-color: $light-yellow;
    }
  }
  &__img {
    position: absolute;
    border-radius: 50%;
    left: 89.5%;
    top: 12%;
  }
  &__h3 {
    margin-bottom: 45px;
    text-align: center;
  }
  &__h5 {
    color: $infrared-gloze;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 24px;
    padding: 0 0 27px 23px;
  }
  &__paragraph {
    font-family: PT Serif;
    font-size: 20px;
    line-height: 26px;
    padding: 21px 49px 17px 26px;
    max-width: 356px;
  }
}

@media (max-width: 946px) {
  .our-story__body,
  .feedback {
    display: flex;
    justify-content: center;
  }
}
/* section fourth */
.gallery {
  max-width: 406px;
  align-items: center;
  display: flex;
  flex-direction: column;
  &__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 406px;
  }
  &__h3 {
    margin-bottom: 56px;
    text-align: center;
    color: $infrared-gloze;
  }
  &__img {
    padding: 15px;
    border-radius: 50%;
  }
  &__link {
    color: $infrared-gloze;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    padding: 15px;
  }
}

/* section footer */
.footer {
  background-color: $pot-black;
  max-height: 544px;
  &__logo {
    font-family: Roboto;
    font-size: 65px;
    line-height: 75px;
    margin: 50px 0;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &__paragraph {
    font-family: PT Serif;
    font-size: 20px;
    line-height: 26px;
    color: $white;
    margin: 10px 0;
  }
}

/* section footer */
