html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "PT Serif", serif;
  font-family: "Roboto", sans-serif;
}

.content-centering {
  max-width: 1048px;
  margin: 0 auto;
  padding: 0 10px;
}

.txt-uppercase {
  text-transform: uppercase;
}

.linear-gradient_yellow {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(89%, #e3d5b8), color-stop(1%, transparent));
  background: linear-gradient(180deg, #e3d5b8 89%, transparent 1%);
}

.txt-color-infrared {
  color: #d03958;
}

.logo {
  color: #d03958;
}

.txt-pt-serif {
  font-family: PT Serif;
  font-size: 20px;
  line-height: 26px;
}

.txt-color--infrared {
  color: #d03958;
}

input::-webkit-inner-spin-button {
  display: none;
}

/*Header*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_margin {
  margin-bottom: 109px;
}

.header__logo {
  padding: 26px 14px;
  font-size: 88px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item__link {
  font-family: Montserrat;
  color: #1b1b1b;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.item__link_hover:hover {
  background-color: #d03958;
  border-radius: 6px;
  color: white;
}

.item__header {
  margin: 10px;
}

.header__link {
  margin: 15px 0;
  padding: 8px 14px;
  font-size: 18px;
}

/*Header*/
/*cection header content*/
.travel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.travel__content {
  margin-bottom: 127px;
  max-width: 544px;
  margin: 15px;
}

.travel__h1 {
  margin: 10px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content__h1 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 90px;
  line-height: 110px;
}

.content__txt {
  color: #161616;
  max-width: 491px;
}

.travel__paragraph {
  margin: 10px;
}

.request-form {
  border-radius: 10px;
  margin: 15px 28px 15px 15px;
  background-color: #d03958;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.request-form__h3 {
  font-family: Montserrat;
  color: white;
  text-align: center;
  margin: 27px 0 19px;
  font-size: 22px;
  line-height: 27px;
}

.request-form__input {
  border-radius: 5px;
  min-width: 353px;
  min-height: 57px;
  border: none;
  margin: 16px 24px;
  padding-left: 16px;
}

.request-form__input::-webkit-input-placeholder {
  font-family: PT Serif;
  color: #b5b5b5;
  font-size: 20px;
  line-height: 26px;
}

.request-form__input:-ms-input-placeholder {
  font-family: PT Serif;
  color: #b5b5b5;
  font-size: 20px;
  line-height: 26px;
}

.request-form__input::-ms-input-placeholder {
  font-family: PT Serif;
  color: #b5b5b5;
  font-size: 20px;
  line-height: 26px;
}

.request-form__input::placeholder {
  font-family: PT Serif;
  color: #b5b5b5;
  font-size: 20px;
  line-height: 26px;
}

.request-form__checkbox {
  margin: 5px 0 17px 25px;
}

.request-form__button {
  color: white;
  background-color: #161616;
  min-width: 353px;
  min-height: 57px;
  margin: 0 24px 15px;
}

.button {
  font-family: Montserrat;
  border-radius: 5px;
  font-size: 22px;
  line-height: 27px;
  border: none;
}

/* checkbox */
.checkbox.style-c {
  display: inline-block;
  position: relative;
  padding-left: 23px;
  cursor: pointer;
}

.checkbox.style-c input {
  position: absolute;
  opacity: 0;
}

.checkbox.style-c input:checked ~ .checkbox__checkmark {
  background-color: #4040b4;
}

.checkbox.style-c input:checked ~ .checkbox__checkmark:after {
  opacity: 1;
}

.checkbox.style-c .checkbox__checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  border-radius: 4px;
}

.checkbox.style-c .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 8px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.checkbox.style-c .checkbox__body {
  font-family: PT Serif;
  margin-left: 22px;
  font-size: 20px;
  line-height: 26px;
  color: white;
}

@media (max-width: 1014px) {
  .travel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 564px) {
  .travel__h1 {
    font-size: 75px;
  }
}

/*cection header content*/
/* section our serviced */
.our-services {
  margin-bottom: 62px;
  position: relative;
  margin-top: 67px;
}

.our-services__h4 {
  font-family: Roboto;
  font-size: 50px;
  line-height: 59px;
  position: absolute;
  top: -136px;
  padding: 10px;
}

.our-services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}

.our-services__column {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 176px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px 10px;
}

.our-services__img {
  margin-bottom: 45px;
}

.our-services__paragraph {
  text-align: center;
  color: #161616;
}

/* section our serviced*/
@media (max-width: 1014px) {
  .our-services__h4 {
    top: -125px;
  }
  .our-services {
    margin-top: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* section second */
.our-story {
  background-color: #d03958;
}

.our-story__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our-story__paragraph {
  color: white;
  max-width: 629px;
}

.our-story__button {
  background-color: #e3d5b8;
  color: #161616;
  padding: 18px 70px;
  margin: 30px 15px;
}

.our-story__button_hover:hover {
  background-color: #bdb29c;
  border-radius: 6px;
  color: white;
}

/* section pricing */
.header__txt {
  color: #1b1b1b;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
}

.pricing__flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing {
  background-color: #e3d5b8;
}

.pricing__header {
  padding: 50px;
  text-align: center;
}

.pricing__card {
  min-width: 318px;
  border-radius: 5px 5px 0 0;
  margin: 18px 11px 0;
}

.pricing__h3 {
  margin-bottom: 14px;
}

.pricing__h5 {
  margin-bottom: 16px;
  margin-top: 30px;
}

.pricing__paragraph {
  max-width: 162px;
  margin-bottom: 34px;
  max-width: 175px;
}

.pricing__button {
  padding: 11px 81px;
}

.pricing__button_hover:hover {
  background-color: #d03958;
  border-radius: 6px;
  color: white;
}

.card {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__h3 {
  color: #d03958;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 60px;
  line-height: 73px;
}

.card__h5 {
  color: #161616;
  font-family: PT Serif;
  font-size: 22px;
}

.card__paragraph {
  text-align: center;
  color: #161616;
  font-family: PT Serif;
  font-size: 20px;
  line-height: 26px;
}

.card__button {
  color: #161616;
  background-color: #e3d5b8;
}

.pricing__box {
  border-bottom: 70px solid #af9f7f;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  left: -42%;
  position: relative;
  top: -2.3%;
  -webkit-transform: rotate(-45deg);
}

.pricing__span {
  color: #1b1b1b;
  font-size: 16px;
  font-family: PT Serif;
  position: absolute;
  line-height: 21px;
  right: -26px;
  top: 36px;
}

/* section fourth */
.feedback__testimonial {
  max-width: 500px;
  margin-right: 70px;
}

.feedback {
  padding-top: 127px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 120px;
}

.feedback__wrapper {
  max-width: 431px;
  position: relative;
  margin: 20px 0 30px;
}

.feedback__wrapper_bg {
  background-color: #e3d5b8;
}

.feedback__img {
  position: absolute;
  border-radius: 50%;
  left: 89.5%;
  top: 12%;
}

.feedback__h3 {
  margin-bottom: 45px;
  text-align: center;
}

.feedback__h5 {
  color: #d03958;
  font-family: Montserrat;
  font-size: 20px;
  line-height: 24px;
  padding: 0 0 27px 23px;
}

.feedback__paragraph {
  font-family: PT Serif;
  font-size: 20px;
  line-height: 26px;
  padding: 21px 49px 17px 26px;
  max-width: 356px;
}

@media (max-width: 946px) {
  .our-story__body,
  .feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* section fourth */
.gallery {
  max-width: 406px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 406px;
}

.gallery__h3 {
  margin-bottom: 56px;
  text-align: center;
  color: #d03958;
}

.gallery__img {
  padding: 15px;
  border-radius: 50%;
}

.gallery__link {
  color: #d03958;
  font-family: Montserrat;
  font-size: 20px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  padding: 15px;
}

/* section footer */
.footer {
  background-color: #161616;
  max-height: 544px;
}

.footer__logo {
  font-family: Roboto;
  font-size: 65px;
  line-height: 75px;
  margin: 50px 0;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__paragraph {
  font-family: PT Serif;
  font-size: 20px;
  line-height: 26px;
  color: white;
  margin: 10px 0;
}

/* section footer */
